{% extends "IndiraSimoniBundle::layout.html.twig" %}
{% block content %}
<div class="row-fluid">
  <div class="span12">
    <section class="page-header">
      <h1>{{ entity.nombre }}</h1>
    </section>
  </div>
</div>
<div class="row">
  <div class="span12">
    {% for atributo in entity.atributosclave %}
    <a class="btn btn-success" href="{{ asset('bundles/indirasimoni/basetortuga.xlsx') }}" ><i class="icon-download"></i> Descargar Linea de Base</a>
    <a class="btn btn-success" href="{{ asset('bundles/indirasimoni/tortuga.xlsx') }}" ><i class="icon-download"></i> Descargar Hoja de Datos</a>
    <div class="row">
      <div class="span12">
        <div class="row">
          <p class="span12">
            {{ atributo.descripcion }}
            </br></br></br>
          </p>
        </div>
      {% for indicador in atributo.indicadores %}
        <div class="row">
          <p class="span12">
            <span class="label label-info">Indicador de {{ indicador.tipo }}</span> <span>{{ indicador.descripcion }}</span>
          </p>
        </div>
        </br></br>
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
