{% extends "IndiraSimoniBundle::layout.html.twig" %}
{% block content %}
<div class="row-fluid">
  <div class="span12">
    <section class="page-header">
      <h1>Ingresar un Avistamiento {% if reino is defined %} de {{ reino.nombre }} {% endif%}</h1>
    </section>
  </div>
</div>
<div class="row-fluid">
  <section class="span9">
    <form action="{{ path('avistamiento_importado_create_reino', { 'reino': reino.id }) }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <p class="form-actions">
        <button class="btn btn-primary" type="submit">
          <i class="icon-save"></i> Guardar
        </button>
      </p>
    </form>
  </section>
  <aside class="span3">
    <nav class="sidebar">
      <ul class="nav nav-stacked nav-tabs">
        <li>
          <a href="{{ path('avistamiento_importado') }}"> Regresar a Avistamientos </a>
        </li>
      </ul>
    </nav>
  </aside>
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
  jQuery(document).ready(function() {
      var collectionHolder = $('#indira_simonibundle_avistamientoimportadotype_imagenes');
      var $addImagenLink = $('<a href="#" class="add_imagen_link btn btn-info">Agregar Imagen</a>');
      embedForm(collectionHolder, $addImagenLink);
      
      var collectionHolder = $('#indira_simonibundle_avistamientoimportadotype_ejemplares');
      $('#indira_simonibundle_avistamientoimportadotype_cantidad').change(function() {
        var cantidad = $('#indira_simonibundle_avistamientoimportadotype_cantidad').val();
        collectionHolder.data('index', collectionHolder.find(':input').length + 1);
        for(var i = 0; i < cantidad; i++) {
          addChildForm(collectionHolder);
        }
      });
  });
</script>
{% endblock %}
