{% extends "IndiraSimoniBundle::layout.html.twig" %}
{% block styles %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

<link href="{{ asset('bundles/indirasimoni/css/prettyPhoto.css') }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" id="camera-css"  href="{{ asset('bundles/indirasimoni/css/camera.css') }}" type="text/css" media="all">

<link href="{{ asset('bundles/indirasimoni/css/theme.css') }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/indirasimoni/css/skins/tango/skin.css') }}" />
{% endblock %}
{% block content %}

<center>
  <img src="{{ asset('bundles/indirasimoni/images/logo.jpg') }}" >
</center>

<br>
<br>

<div class="row">
  <div class="span12" >
    <div class="row" >
      <div class="span6" >
        <div class="row">
          <section class="span6">
            <div class="page-header">
              <h1>La Reserva del Hombre y Biosfera del Río Plátano (RHBRP)</h1>
            </div>
          </section>
        </div>
        <div class="row">
          <p class="span6">
            La RHBRP fue establecida en 1980 a trav&eacute;s del Decreto 977-80, en el a&ntilde;o 1982 fue
            declarada como Patrimonio Mundial de la Humanidad por la Organizaci&oacute;n de las Naciones Unidas
            para la Ciencia y la Cultura (UNESCO), principalmente por su importante diversidad biol&oacute;gica y
            cultural. En 1997, mediante decreto legislativo 170-97 modific&oacute; los l&iacute;mites originales
            de la Reserva.
          </p>
        </div>
        <div class="row">
          <p class="span6">
            La Biosfera del R&iacute;o Pl&aacute;tano se ubica en la regi&oacute;n nor-oriental
            de Honduras, entre los municipios de Iriona (Departamento de Col&oacute;n), Dulce Nombre de Culm&iacute;
            (Departamento Olancho) y los municipios de Brus Laguna, Juan Francisco Bulnes y Wampusirpe (Departamento
            de Gracias a Dios), cuenta con una extensi&oacute;n de 832,332 hect&aacute;reas (ha) y est&aacute; dividido
            en tres zonas de manejo: zona n&uacute;cleo de 210,733.198 ha, zona de amortiguamiento de 197,438.787 ha
            y la zona cultural con 424,161.021 ha.
          </p>
        </div>
      </div>
      <div class="span6">
        <div class="row">
          <section class="span6">
            <div class="page-header">
              <h2>Recientes</h2>
            </div>
          </section>
        </div>
        <div>
          <div class="news_date">
            5 JUN<span>2013</span>
          </div>
          <div class="news_t">
            <a href="#">CientÍficos prominentes se unen a SIMONI</a>
          </div>
          <div class="news">
            Escrito por <a href="#">Daniel Siemund</a> /  en <a href="#">Tegucigalpa,Honduras</a>
            <br/>
          </div>
          <div class="news_info">
            Tristique tincidunt cursus sed, ornare ncidunt eque a tristique. Phasellus porttitor mollis tortor etoq vestibulum. Quisque non lacus tortor, quis cumsan nibh. Lorem ipsum dolor sit amet, consectetur icing elit. Nullam pulvinarteses lorem sed dui euismod eget. <a href="#">Read more...</a>
          </div>
        </div>
        <div>
          <div class="news_date">
            1 JUN<span>2013</span>
          </div>
          <div class="news_t">
            <a href="#">Los aportes de Salvador Moncada </a>
          </div>
          <div class="news">
            Posted by <a href="#">Anna Smith</a> /  In <a href="#">City</a>
            <br/>
            Tags: <a href="#">eget</a>, <a href="#">mauris</a>
          </div>
          <div class="news_info">
            Cursus sed, aliquet nec odio. Integer ornare tincidunt neque a tristique. Phasellus porttitor millis tortor etoq vestibulum. Quisque ont lacus toirtor uis accumsan nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ulvinarteses em sed. <a href="#">Read more...</a>
          </div>
        </div>
        <div>
          <div class="news_date">
            15 MAY<span>2013</span>
          </div>
          <div class="news_t">
            <a href="#">Sed massa dui, porta corper ac varius!</a>
          </div>
          <div class="news">
            Posted by <a href="#">Anna Smith</a> /  In <a href="#">City</a>
            <br/>
            Tags: <a href="#">eget</a>, <a href="#">mauris</a>
          </div>
          <div class="news_info">
            Tristique tincidunt cursus sed, ornare ncidunt eque a tristique. Phasellus porttitor mollis tortor etoq vestibulum. Quisque non lacus tortor, quis cumsan nibh. Lorem ipsum dolor sit amet, consectetur icing elit. Nullam pulvinarteses lorem sed dui euismod eget. <a href="#">Read more...</a>
          </div>
        </div>
        <div>
          <div class="news_date">
            05 ABR<span>2013</span>
          </div>
          <div class="news_t">
            <a href="#">eget &amp; massa viviamu marius mas</a>
          </div>
          <div class="news">
            Posted by <a href="#">Anna Smith</a> /  In <a href="#">City</a>
            <br/>
            Tags: <a href="#">eget</a>, <a href="#">mauris</a>
          </div>
          <div class="news_info">
            Cursus sed, aliquet nec odio. Integer ornare tincidunt neque a tristique. Phasellus porttitor millis tortor etoq vestibulum. Quisque ont lacus toirtor uis accumsan nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ulvinarteses em sed. <a href="#">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Latest news-->

<!--Latest news-->
<div class="row">
  <div class="span6" >
    <div class="row">
      <section class="span6">
        <div class="page-header">
          <h2 class="title">Amenazas en RHBRP</h2>
        </div>
      </section>
    </div>
    <p>
      La p&eacute;rdida de la cobertura forestal es una amenaza para la RHBRP;
      la frontera agr&iacute;cola cada vez va ganando m&aacute;s territorio, &aacute;reas extensas
      de bosque han sido taladas con el prop&oacute;sito de dedicarlo a la ganader&iacute;a extensiva
      y al cultivo de palma africana y girasol principalmente en el Valle de Sico y Paulaya.
    <p>
    <p>
      La adquisici&oacute;n de grandes extensiones de tierras dentro de la reserva
      por parte de terceros es un tema de mucha preocupaci&oacute;n para la poblaci&oacute;n, ya que estos
      una vez que adquieren las tierras destruyen el bosque y lo convierten en &aacute;reas agr&iacute;colas
      y ganaderas, adem&aacute;s al vender las tierras estas personas tienden a adentrarse en el &aacute;rea
      n&uacute;cleo de la reserva y a ejercer presi&oacute;n sobre los recursos naturales existentes.
    <p>
    <p>
      Otro problema que requiere de atenci&oacute;n es la contaminaci&oacute;n de los
      cuerpos de agua, debido principalmente a la carencia de sistemas de saneamiento b&aacute;sico al
      no contar con letrinas, sistemas de recolecci&oacute;n y tratamiento de residuos l&iacute;quidos y
      s&oacute;lidos en la mayor&iacute;a de comunidades asentadas en la reserva, estos arrojan sus desechos
      en los r&iacute;os, lagunas y quebradas y en muchos casos utilizan las aguas contaminadas para consumo
      humano, higiene personal y para actividades dom&eacute;sticas.
    <p>
  </div>
  <div class="span6">
    <div class="row">
      <section class="span6">
        <div class="page-header">
          <h2 class="title">Mapa de la Biosfera</h2>
        </div>
      </section>
    </div>
    {{ google_map_container(map) }}
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>
      El Sistema de Monitoreo Integral (<span style="font-style: italic;">SIMONI</span>),
      es una plataforma con el fin de coadyuvar con el ICF en enfrentar la din&aacute;mica
      intr&iacute;nseca de la RHBRP junto con la imprevisibilidad y la complejidad de la
      misma. El SIMONI mide el estado y la presi&oacute;n de la biodiversidad, los ecosistemas
      y los habitantes y su interrelaci&oacute;n con la RHBRP.
    </p>
    Dicha plataforma est&aacute; dise&ntilde;ada tanto para apoyar a los tomadores de decisiones del Estado,
    como de la sociedad c&iacute;vil y poblaci&oacute;n en general que viven y trabajan dentro la RHBRP,
    basado en el manejo adaptativo y determinar as&iacute;, las intervenciones a implementar y a su vez
    medir los resultados de las respuestas y de las intervenciones implementadas sobre las diversas presiones
    sobre la integridad de la Reserva.
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="row">
      <section class="span12">
        <div class="page-header">
          <h2>Galería de Imágenes</h2>
        </div>
      </section>
    </div>
    <div class="row">
      <div class="span6 offset3">
        <div id="slider" class="nivoSlider">
          {% for imagen in imagenes %}
          {% media imagen, 'big' %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <table width="90%" align="center">
        <tr>
          <td width="30%">
          <div align="left">
            <img src="{{ asset('bundles/indirasimoni/images/logoprotep.png') }}" width="10%" height="10%"> PROTEP
          </div></td>
          <td width="30%">
          <div align="right">
            <img src="{{ asset('bundles/indirasimoni/images/gfa.png') }}" width="15%" height="15%">
          </div></td>
        </tr>
      </table>
    </div>
  </div>
</div>

  {% endblock %}
  {% block javascript %}
  {{ google_map_js(map) }}
  {{ google_map_css(map) }}
  <script type="text/javascript" src="{{ asset('bundles/indirasimoni/js/jquery.nivo.slider.pack.js') }}"></script>
  <link rel="stylesheet" href="{{ asset('bundles/indirasimoni/css/nivo-slider.css') }}" type="text/css" media="screen" />
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
  </script>
  {% endblock %}
